BACKUP_USER=
HOSTNAME=localhost
USERNAME=postgres
PORT=5432
DATABASES=postgres
PASSWORD=postgres
BACKUP_DIR=/home/rajotron/project/pgHENCHMAN-Server/server/public/backups/
SCHEMA_ONLY_LIST=postgres
ENABLE_CUSTOM_BACKUPS=yes
ENABLE_PLAIN_BACKUPS=yes
ENABLE_GLOBALS_BACKUPS=yes
DAY_OF_WEEK_TO_KEEP=5
DAYS_TO_KEEP=7
WEEKS_TO_KEEP=5